<h1>Task List</h1>
<ul>
<% @tasks.each do |task| %>
<li>
<strong>Task:</strong> <%= task.title %> <br>
<strong>Details:</strong> <%= task.details %>
<%= link_to 'View Task Details', task_path(task) %>
</li>
<% end %>
</ul>
<% @tasks.each do |task| %>
  <div>
    <h3><%= task.title %></h3>
    <p><%= task.details %></p>
    <p><%= task.completed ? "Completed" : "Not Completed" %></p>

    <%= link_to 'Edit', edit_task_path(task) %> <!-- Link to the edit page -->
  </div>
<% end %>
